<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>383631781407-qh0brmjqjog15kphunj0uvig1cm2c31j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383631781407-qh0brmjqjog15kphunj0uvig1cm2c31j</string>
	<key>API_KEY</key>
	<string>AIzaSyBlVmwp9oejYF25GkaxXZbJQGiEVvVIIPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>383631781407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.tu.engr.tupine.QuickChat</string>
	<key>PROJECT_ID</key>
	<string>quickchat-f6adf</string>
	<key>STORAGE_BUCKET</key>
	<string>quickchat-f6adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383631781407:ios:16801e320d7f0d29</string>
	<key>DATABASE_URL</key>
	<string>https://quickchat-f6adf.firebaseio.com</string>
</dict>
</plist>